.homelink {
    font-size: 20px;
    color: black;
    filter: drop-shadow(2px 3px 4px rgba(0, 0, 0, 0.578));
    font-weight: bold;
    max-width: fit-content;
    margin: 1em;
    background-color: none;
    font-weight: 700;
    left: 50px;
    top: 10px;
    text-align: right;
    display: inline-block;
  }
  

  .movieContainer {
    min-height: 100vh;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  
  
  .movieHeader {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  
  .loading {
    font-size: 20px;
    padding: 20px;
  }
  
  @media (max-width: 768px) {
    .movieContainer {
      position: relative;
    }
  
    .homelink {
      font-size: 15px;
    }
  }